{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.create' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{% block content %}
    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resource': resource}) }}

    {% include '@SyliusAdmin/Crud/Create/_header.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resource': resource}) }}

    <div class="ui segment">
        {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {% if configuration.vars.templates.form is defined %}
            {% include configuration.vars.templates.form %}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}

        <div id="group">
            {{ form_row(form.name) }}
            {{ form_widget(form.rights) }}
        </div>
        {{ sonata_block_render_event(event_prefix ~ '.form', {'resource': resource}) }}

        {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({}))}} %}

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>


    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resource': resource}) }}
{% endblock %}
